# database_with_pool.config
# Required DB connection settings
user=appsawb
password=ap55##psawb
dsn=130.61.118.140:1521/fabconn.sub06170601220.fabconnectvcn.oraclevcn.com

# Optional Oracle thick client path (omit for thin mode)
 oracle_client_lib_dir=C:\Shilpa\instantclient-basic-windows.x64-23.26.0.0.0

# Connection pool settings
min_pool_size=1
max_pool_size=5
increment=1
timeout=
wait_timeout=
getmode=
thick_client_fallback_dir=
