# OCI config

COMPARTMENT_ID = ocid1.compartment.oc1..aaaaaaaaro6du3ulyukgl2wblvzt2ytt7vp6upyejde2rakv5xjz2uipdyfa
GENAI_MODEL_ID = ocid1.generativeaimodel.oc1.eu-frankfurt-1.amaaaaaask7dceyaessaqnexr66avnxjksoibejm2yk2w3rkf7ohicrnx6eq

TARGET_FILE = C:/Users/TejaswiniUnchagaonka/Downloads/2000222571 KEMET 4.pdf

TEMPERATURE = 0
MAX_TOKENS = 20
TEXT_LIMIT = 5000